# Created by .ignore support plugin (hsz.mobi)
.idea
/uk-UA_3.x/cache/
/uk-UA_3.x/layouts/
/uk-UA_3.x/components/
/uk-UA_3.x/templates/
/uk-UA_3.x/robots.txt
/uk-UA_3.x/bin/
/uk-UA_3.x/plugins/
/uk-UA_3.x/web.config.txt
/uk-UA_3.x/tmp/
/uk-UA_3.x/libraries/
/uk-UA_3.x/htaccess.txt
/uk-UA_3.x/configuration.php
/uk-UA_3.x/media/
/uk-UA_3.x/modules/
/uk-UA_3.x/index.php
/uk-UA_3.x/images/
/uk-UA_3.x/includes/
/uk-UA_3.x/cli/
/uk-UA_3.x/LICENSE.txt
/uk-UA_3.x/README.txt
/uk-UA_3.x/administrator/logs/
/uk-UA_3.x/administrator/manifests/
/uk-UA_3.x/administrator/templates/
/uk-UA_3.x/administrator/index.php
/uk-UA_3.x/administrator/cache/
/uk-UA_3.x/administrator/includes/
/uk-UA_3.x/administrator/help/
/uk-UA_3.x/administrator/components/
/uk-UA_3.x/administrator/modules/
/uk-UA_3.x/administrator/language/en-GB/
/uk-UA_3.x/administrator/language/overrides/
/uk-UA_3.x/language/en-GB/
/uk-UA_3.x/language/overrides/
/uk-UA_3.x/language/index.html
.gitignore
